@import "./styles/variables.scss";
@import "./styles/fonts.scss";

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.title {
    color: $color-title;
    font-size: $font-size_14;
    font-weight: 700;
    text-align: center;

    &_input {
        color: $color-title;
        font-size: $font-size_13;
        line-height: 5rem;
        margin-bottom: 2rem;
        border: none;
    }

    &_radio {
        color: $color-title;
        font-size: $font-size_13;
        line-height: 5rem;
        margin-bottom: 2rem;
        border: none;
    }

    &_checkbox {
        color: $color-title;
        font-size: $font-size_13;
        line-height: 5rem;
        margin-bottom: 2rem;
        border: none;
    }

    &_menu {
        position: relative;
        bottom: -9.7rem;
        background-color: $bgcolor-nav;
    }
}

@import "./styles/section.scss";
@import "./styles/input.scss";
@import "./styles/radio.scss";
@import "./styles/checkbox.scss";
@import "./styles/button.scss";
@import "./styles/picker.scss";
@import "./styles/tabBar.scss";
@import "./styles/tip.scss";
@import "./styles/snackbar.scss";
@import "./styles/navigation.scss";
@import "./styles/switch.scss";
