.bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    max-width: 137.8rem;
    height: 109rem;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 12.8rem 32.2rem;
    gap: 4rem;
    margin: auto;
  }