.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 2rem;
}

.button__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: 137.8rem;
    height: 146.3rem;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 8rem 6.7rem;
    column-gap: 4rem;
}

.button__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 34.2rem;
    height: 30rem;
    row-gap: 1.95rem;
}

.button__field-small {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    row-gap: 1.95rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    font-size: $font-size_12;
    border: none;
    border-radius: 1rem;
    padding: 1.4rem;
    cursor: pointer;

    &:disabled {
        color: $gray;
        background-color: $default;
        pointer-events: none;
    }
}

.btn_small {
    width: 20rem;
    padding: 1.4rem 1.35rem;
}

.btn_primary {
    position: relative;
    background-color: $blue;
    color: $white;

    .btn__icon-top {
        position: absolute;
        left: 1.4rem;
    }

}

.btn_transparent {
    background-color: transparent !important;
    color: $blue;

    .btn__icon-top {
        margin-right: .65rem;
    }
}

.btn_loading {
    pointer-events: none;
}

.btn__icon-loading {
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn_default {
    background-color: $primary;
    color: $blue;
}

.btn_border {
    border: 1px solid $blue;
}

.btn__icon-arrow-right {
    margin-left: .6rem;
}



.button__list-mini {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: 137.8rem;
    height: 40.5rem;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 8.2rem 40rem;
    column-gap: 4rem;
}

.button__filed_mini {
    width: 7.7rem;
    height: 24rem;
    gap: 4rem;
}

.btn_mini {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.7rem;
    height: 3rem;
    padding: .5rem 2rem;
    border-radius: .6rem;
    font-size: 1.3rem;

    &:disabled {
        .btn__span {
            background-color: $medium-black;
            color: rgba(242, 242, 242, 1);
        }
    }
}

.btn__icon-plus {
    margin-right: .35rem;
}

.btn__icon-arrow {
    margin-left: .63rem;
}

.btn__span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    margin-left: .3rem;
    font-size: .9rem;
    font-weight: 500;
    padding: .4rem 0.45rem;
}

.btn_primary {

    .btn__span {
        background-color: $white;
        color: $blue;
    }
}

.btn_default {

    .btn__span {
        background-color: $blue;
        color: $white;
    }
}

.btn_transparent {

    .btn__span {
        background-color: $blue;
        color: $white;
    }
}
