.checkbox {
  display: flex;
  align-items: center;
  width: 34.3rem;
  height: 3.2rem;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 7rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34.3rem;
    flex-wrap: wrap;
    gap: 2rem;

    &:nth-child(2) {
      .checkbox__decorator {
        margin-left: 0;
        margin-right: 0.8rem;
      }
    }
  }

  &__list-default {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 10.6rem;
    height: 10.6rem;
    border: 1px dashed $blue;
    border-radius: 1.6rem;
    padding: 2rem;
    gap: 2rem;

    .checkbox {
      &__button {
        display: none;
      }

      &__decorator {
        position: relative;
        display: block;
        border: 2px solid $gray;
        border-radius: 0.6rem;
        width: 2.2rem;
        height: 2.2rem;
        transition: 0.3s;

        &::before {
          position: absolute;
          display: block;
          content: "";
          top: 0.5rem;
          left: 0.3rem;
          width: 2rem;
          height: 2rem;
          background: url("./assets/icon/check.svg");
          background-repeat: no-repeat;
          opacity: 0;

          transition: 0.3s ease;
        }
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
    background-color: $default;
  }

  &__label {
    cursor: pointer;
    display: flex;
    width: 100%;
    font-size: $font-size_12;
  }

  &__button {
    display: none;
  }

  &__decorator {
    position: relative;
    display: block;
    margin-left: auto;
    border: 2px solid $gray;
    border-radius: 0.6rem;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0.5rem;
      left: 0.3rem;
      width: 2rem;
      height: 2rem;
      background: url("./assets/icon/check.svg");
      background-repeat: no-repeat;
      opacity: 0;

      transition: 0.3s ease;
    }
  }

  &__button:checked ~ &__decorator {
    border-color: $blue;
    background-color: $blue;
  }

  &__button:disabled ~ &__label-text,
  &__button:disabled ~ &__decorator {
    opacity: 0.5;
  }

  &__button:checked ~ &__decorator::before {
    opacity: 1;
  }
}
