.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

// INPUT //

.input {
  width: 100%;
  max-width: 115rem;
  height: 174.9rem;
  padding: 48px 34px 48px 45px;
  border: 0.1rem solid $black;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.input__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.input__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 34.3rem;
}

.input__field-label {
  font-size: $font-size_11;
  color: $blue;
}

.input__field-input {
  width: 100%;
  max-width: 34.3rem;
  min-height: 4.4rem;
  font-size: $font-size_5;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  background-color: $default;
  border: none;
}

.input__field-error {
  font-size: $font-size_11;
}

.input__field-input:focus {
  outline: none;
}

.input__field_primary {
  .input__field-input {
    background-color: $primary;
  }
}

.input__field_error {
  .input__field-label {
    color: $red;
  }

  .input__field-input {
    background-color: $error;
    color: $red;
  }
}

.input__field-wrapper {
  position: relative;

  .input__field-icon {
    position: absolute;
    top: 1.33rem;
    left: 1.42rem;
  }

  .input__field-input {
    padding-left: 3.8rem;
  }
}

.input__field-select {
  width: 100%;
  max-width: 34.3rem;
  min-height: 4.4rem;
  font-size: $font-size_5;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  background-color: $default;
  border: none;
}

.input__field-select:focus {
  outline: none;
}

.input__field_active {
  .input__field-select {
    background-color: $primary;
  }
}

.input__field-arrow {
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
  width: 100%;
  max-width: 1.6rem;
}

.input__field-wrapper {
  position: relative;

  .input__field-arrow {
    position: absolute;
    top: 1.7rem;
    right: 1.7rem;
    width: 100%;
    max-width: 1.6rem;
  }
}

.input__field-wrap {
  .input__field-select {
    padding-left: 3.8rem;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: $default;
  width: 34.3rem;
  height: 13.2rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  padding: 0 1.2rem;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: $font-size_5;
    height: 5rem;
    padding: 1rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }
}

.dropdown__item-icon {
  position: absolute;
  top: 1.33rem;
  left: 0.22rem;
}

.dropdown__item-name {
  margin-left: 2.6rem;
}

.input__field_disabled {
  opacity: 0.5;
}

// RADIO //

.radio {
  width: 100%;
  max-width: 115rem;
  height: 64.5rem;
  padding: 7.5rem 19.2rem;
  border: 0.1rem solid $black;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.radio__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34.3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.radio__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 7rem;
}

.radio__field {
  display: flex;
  align-items: center;
  width: 34.3rem;
  height: 3.2rem;
  

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
    background-color: $default;
  }

  &-label {
    display: flex;
    width: 100%;
    font-size: $font-size_12;
  }

  .radio-button {
    display: none;
  }

  .radio-span {
    position: relative;
    display: block;
    margin-left: auto;
    border: 2px solid $gray;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 1.4rem;
      height: 1.4rem;
      background-color: $blue;
      border-radius: 50%;

      opacity: 0;

      transition: 0.3s ease;
    }
  }

  .radio-button:checked ~ .radio-span {
    border-color: $blue;
  }

  .radio-button:disabled ~ .radio__field-label-text,
  .radio-button:disabled ~ .radio-span {
    opacity: 0.5;
  }

  .radio-button:checked ~ .radio-span::before {
    opacity: 1;
  }
}

.radio__list:nth-child(2) {
  .radio-span {
    margin-left: 0;
    margin-right: 0.8rem;
  }
}

.radio__list-default {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 10.6rem;
  height: 10.6rem;
  border: 1px dashed $blue;
  border-radius: 1.6rem;
  padding: 2rem;
  gap: 2rem;

  .radio-button {
    display: none;
  }

  .radio-span {
    position: relative;
    display: block;
    border: 2px solid $gray;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 1.4rem;
      height: 1.4rem;
      background-color: $blue;
      border-radius: 50%;

      opacity: 0;

      transition: 0.3s ease;
    }
  }

  .radio-button:checked ~ .radio-span {
    border-color: $blue;
  }

  .radio-button:disabled ~ .radio__field-label-text,
  .radio-button:disabled ~ .radio-span {
    opacity: 0.5;
  }

  .radio-button:checked ~ .radio-span::before {
    opacity: 1;
  }
}

// CHECKBOX //

.checkbox {
  width: 100%;
  max-width: 115rem;
  height: 64.5rem;
  padding: 7.5rem 19.2rem;
  border: 0.1rem solid $black;
  border-radius: 1rem;
}

.checkbox__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 7rem;
}

.checkbox__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34.3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.checkbox__field {
  display: flex;
  align-items: center;
  width: 34.3rem;
  height: 3.2rem;

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
    background-color: $default;
  }

  &-label {
    display: flex;
    width: 100%;
    font-size: $font-size_12;
  }

  .checkbox-button {
    display: none;
  }

  .checkbox-span {
    position: relative;
    display: block;
    margin-left: auto;
    border: 2px solid $gray;
    border-radius: 0.6rem;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: .5rem;
      left: .3rem;
      width: 2rem;
      height: 2rem;
      background: url("./assets/icon/check.svg");
      background-repeat: no-repeat;
      opacity: 0;

      transition: 0.3s ease;
    }
  }

  .checkbox-button:checked ~ .checkbox-span {
    border-color: $blue;
    background-color: $blue;
  }

  .checkbox-button:disabled ~ .checkbox__field-label-text,
  .checkbox-button:disabled ~ .checkbox-span {
    opacity: 0.5;
  }

  .checkbox-button:checked ~ .checkbox-span::before {
    opacity: 1;
  }
}

.checkbox__list:nth-child(2) {
    .checkbox-span {
      margin-left: 0;
      margin-right: 0.8rem;
    }
}

.checkbox__list-default {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 10.6rem;
  height: 10.6rem;
  border: 1px dashed $blue;
  border-radius: 1.6rem;
  padding: 2rem;
  gap: 2rem;

  .checkbox-button {
    display: none;
  }

  .checkbox-span {
    position: relative;
    display: block;
    border: 2px solid $gray;
    border-radius: 0.6rem;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: .5rem;
      left: .3rem;
      width: 2rem;
      height: 2rem;
      background: url("./assets/icon/check.svg");
      background-repeat: no-repeat;
      opacity: 0;

      transition: 0.3s ease;
    }
  }

  .checkbox-button:checked ~ .checkbox-span {
    border-color: $blue;
    background-color: $blue;
  }

  .checkbox-button:disabled ~ .checkbox__field-label-text,
  .checkbox-button:disabled ~ .checkbox-span {
    opacity: 0.5;
  }

  .checkbox-button:checked ~ .checkbox-span::before {
    opacity: 1;
  }
}
