.last {
    width: 100%;
    max-width: 15.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    border: 1px solid $black;
    border-radius: 1.6rem;
    padding: 2rem 1.6rem;
    gap: 1.7em;
    margin: auto;
  }