.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 169.5rem;
    min-height: 134.8rem;
    background-color: $bgcolor-nav;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 12rem 10.3rem;
    gap: 2rem;
}

.navigation__field {
    width: 100%;
    max-width: 34.2rem;
    height: 25.2rem;
    background-color: $white;
    border-radius: 1.2rem;

    &-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding: 1.2rem 1.4rem 1.2rem 1.7rem;
    }

    &-item-image {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1.1rem;
    }

    &-item-name {
        font-size: $font-size_5;
    }

    &-item-icon {
        margin-left: auto;
    }
}

.checked {
    background-color: $primary;
    font-weight: 510;
}

.navigation__field:first-child .navigation__field-item,
.navigation__field:nth-child(2) .navigation__field-item,
.navigation__field:nth-child(9) .navigation__field-item,
.navigation__field:nth-child(10) .navigation__field-item {
    position: relative;

    &:not(:last-child):not(.checked):before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 4.5rem;
        width: 29.7rem;
        height: .1rem;
        background-color: $primary;
    }
}

.navigation__field:nth-child(5) .navigation__field-item,
.navigation__field:nth-child(6) .navigation__field-item,
.navigation__field:nth-child(13) .navigation__field-item,
.navigation__field:nth-child(14) .navigation__field-item {
    position: relative;

    &:not(:last-child):not(.checked)::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 1.6rem;
        width: 32.6rem;
        height: .1rem;
        background-color: $primary;
    }
}