.pick {
  display: flex;
  flex-wrap: wrap;
  width: 115rem;
  height: 64.2rem;
  border: 1px solid $black;
  border-radius: 1rem;
  padding: 6.4rem 20.6rem;
  column-gap: 5rem;
  margin-bottom: 3rem;
  margin: auto;
}

.picker {
  display: flex;
  flex-direction: column;
  width: 34.3rem;
  row-gap: 1.4rem;

  &__list {
    display: flex;
    width: 34.3rem;
    height: 3.2rem;
    background-color: $light-gray;
    border-radius: 1rem;
    padding: 0.2rem;

    &_disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    .list__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size_3;
      width: 100%;
      max-width: 17.3rem;
      border-radius: 1rem;
      color: $gray;
      cursor: pointer;

      &:not(.list__item_checked):not(:first-child)::after {
        content: "";
        display: block;
        position: absolute;
        top: 0.8rem;
        left: -0.4rem;
        width: 0.1rem;
        height: 1.5rem;
        background-color: $medium-gray;
        z-index: 1;
      }

      &_checked {
        color: $white;
        background-color: $blue;
        font-weight: 600;
        z-index: 2;
      }
    }
  }
}
