.radio {
  display: flex;
  align-items: center;
  width: 34.3rem;
  height: 3.2rem;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 7rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34.3rem;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &_default {
    width: 2.2rem;
    height: 2.2rem;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
    background-color: $default;
  }

  &__label {
    display: flex;
    cursor: pointer;
    width: 100%;
    font-size: $font-size_12;
  }

  &__button {
    display: none;
  }

  &__decorator {
    position: relative;
    display: block;
    margin-left: auto;
    border: 2px solid $gray;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 1.4rem;
      height: 1.4rem;
      background-color: $blue;
      border-radius: 50%;

      opacity: 0;

      transition: 0.3s ease;
    }
  }

  .radio__button:checked ~ .radio__decorator {
    border-color: $blue;
  }

  .radio__button:disabled ~ .radio__label-text,
  .radio__button:disabled ~ .radio__decorator {
    opacity: 0.5;
  }

  .radio__button:checked ~ .radio__decorator::before {
    opacity: 1;
  }
}

.radio__list:nth-child(2) {
  .radio__decorator {
    margin-left: 0;
    margin-right: 0.8rem;
  }
}

.radio__list-default {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 10.6rem;
  height: 10.6rem;
  border: 1px dashed $blue;
  border-radius: 1.6rem;
  padding: 2rem;
  gap: 2rem;

  .radio__button {
    display: none;
  }

  .radio__decorator {
    position: relative;
    display: block;
    border: 2px solid $gray;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.3s;

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 1.4rem;
      height: 1.4rem;
      background-color: $blue;
      border-radius: 50%;

      opacity: 0;

      transition: 0.3s ease;
    }
  }

  .radio__button:checked ~ .radio__decorator {
    border-color: $blue;
  }

  .radio__button:disabled ~ .radio__label-text,
  .radio__button:disabled ~ .radio__decorator {
    opacity: 0.5;
  }

  .radio__button:checked ~ .radio__decorator::before {
    opacity: 1;
  }
}
