.snackbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 34.3rem;
  height: 5.9rem;
  background-color: $blue;
  padding: 0.9rem 1.2rem 0.9rem 1.6rem;
  border-radius: 1rem;

  &_light-theme {
    background-color: $white;
    box-shadow: 0 0 10px $light-black;

    .snackbar__title {
      color: $color-title;
    }

    .snackbar__button {
      color: $blue;
    }

    .snackbar__load-count {
      color: $blue;
    }

    .snackbar__progress {
        color: $gray;
    }
    
    .snackbar__progress-decorate {
        background-color: $light-load;
    }

  }

  &_dark-theme {
    background-color: $dark-theme;

    .snackbar__button {
      color: $blue;
    }

    .snackbar__progress-decorate {
        background-color: $dark-load;
    }
  }

  &__load {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 3.3rem;
    margin-right: 1.4rem;
  }

  &__load-icon {
    width: 100%;
    max-width: 3.3rem;
    animation: loading 2s linear infinite;
  }

  &__load-count {
    position: absolute;
    font-size: $font-size_12;
    color: $white;
  }

  &__load-text {
      z-index: 2;
  }

  &__title {
    font-size: $font-size_12;
    color: $white;
  }

  &__icon {
    width: 100%;
    max-width: 2.38rem;
    margin-right: 1.61rem;
  }

  &__button {
    font-size: $font-size_6;
    background-color: transparent;
    border: none;
    color: $white;
    margin-left: auto;
    cursor: pointer;
  }

  &_loader {
    height: 8rem;

    .snackbar__title {
      font-size: $font-size_11;
      margin-bottom: 0.5rem;
    }
  }

  &__progress {
    font-size: $font-size_11;
    color: $opac-white;
  }

  &__icon-download {
    width: 100%;
    max-width: 1.4rem;
    margin-right: 0.8rem;
    z-index: 2;
  }

  &__progress-decorate {
    position: absolute;
    display: block;
    width: 57%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $default-load;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    z-index: 1;
  }

  &__icon-cancel {
    margin-left: auto;
    cursor: pointer;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
