.snackbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.snackbar__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 137.8rem;
    height: 109rem;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 12.8rem 32.2rem ;
    gap: 4rem;
}

.snackbar__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 34.3rem;
    row-gap: 2rem;
}

.snackbar__field-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 34.3rem;
    min-height: 5.9rem;
    background-color: $blue;
    padding: 0.9rem 1.2rem 0.9rem 1.6rem;
    border-radius: 1rem;
}

.snackbar__field-wrapper-title {
    font-size: $font-size_12;
    color: $white;
}

.snackbar__field-icon {
    width: 100%;
    max-width: 2.38rem;
    margin-right: 1.61rem;
}

.snackbar__field-wrapper-button {
    font-size: $font-size_6;
    background-color: transparent;
    border: none;
    color: $white;
    margin-left: auto;
}

.snackbar__field-wrapper-load {
    position: relative;
    width: 100%;
    max-width: 3.3rem;
    margin-right: 1.4rem;

    .snackbar_loader {
        width: 100%;
        max-width: 3.3rem;
        animation: loading 2s linear infinite;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .snackbar-text {
        position: absolute;
        font-size: $font-size_12;
        color: $white;
        top: 0.6rem;
        left: 1.1rem;
    }
}

.snackbar_download {
    width: 100%;
    max-width: 1.4rem;
    margin-right: .8rem;
    z-index: 2;
}

.snackbar__field-wrapper-text {
    width: 100%;
    max-width: 18.9rem;
    z-index: 2;

    .snackbar__field-wrapper-title {
        font-size: $font-size_11;
        line-height: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .snackbar__field-wrapper-progress {
        font-size: $font-size_11;
        color: $opac-white;
    }
}

.progress {
    position: absolute;
    display: block;
    width: 57%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $default-load;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    z-index: 1;
}

.img-cancel {
    margin-left: auto;
}

.light_theme {
    background-color: $white;
    box-shadow: 0 0 10px $light-black;

    .snackbar__field-wrapper-title {
        font-size: $font-size_12;
        color: $color-title;
    }

    .snackbar__field-wrapper-button {
        color: $blue;
    }

    .snackbar-text {
        color: $blue;
    }

    .snackbar__field-wrapper-text {
    
        .snackbar__field-wrapper-title {
            font-size: $font-size_11;
            line-height: 1.8rem;
            margin-bottom: 0.5rem;
        }
    
        .snackbar__field-wrapper-progress {
            font-size: $font-size_11;
            color: $gray;
        }
    }

    .progress {
        background-color: $light-load;
    }
    
}

.dark_theme {
    background-color: $dark-theme;

    .snackbar__field-wrapper-button {
        color: $blue;
    }

    .progress {
        background-color: $dark-load;
    }
}

