.switch {
  &__button {
    display: none;
  }

  &__label {
    width: 5.1rem;
    height: 3.1rem;
  }

  &__decorator {
    position: relative;
    display: block;
    cursor: pointer;
    width: 5.1rem;
    height: 3.1rem;
    background-color: $default;
    border-radius: 2rem;
    transition: 0.5s;

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0.2rem;
      left: 0.2rem;
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      background-color: $white;
      transition: 0.5s;
    }
  }
}

.switch__button:checked ~ .switch__decorator {
  background-color: $blue;
}

.switch__button:disabled ~ .switch__decorator {
  opacity: 0.5;
}

.switch__button:checked ~ .switch__decorator::before {
  transform: translateX(2rem);
}
