.tabBar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.tabBar__list {
    display: flex;
    flex-wrap: wrap;
    width: 115rem;
    height: 65.2rem;
    border: 1px solid $black;
    border-radius: 1rem;
    padding: 6.8rem 18rem;
    row-gap: 2rem;
    column-gap: 3.8rem;
}

.tabBar__field {
    display: flex;
    justify-content: space-between;
    width: 37.5rem;
    height: 4.9rem;
    background-color: rgba(249, 249, 249, 0.94);
    padding: 1.3rem 5rem;
}

.tabBar__field-home {
    position: relative;
    height: 8.3rem;

    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0.8rem;
        left: 12rem;
        width: 13.4rem;
        height: 0.5rem;
        background-color: $black;
        border-radius: 10rem;
    }
}

.setting {
    cursor: pointer;
}

.chat {
    position: relative;
    cursor: pointer;
}

.person {
    cursor: pointer;
}

.chat_number {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    font-size: $font-size_2;
    background-color: $red;
    border-radius: 50%;
    color: $white;
    padding: .2rem .6rem;
}

.img_setting {
    width: 100%;
    max-width: 2.25rem;
}

.img_chat {
    width: 100%;
    max-width: 2.25rem;
}

.img_person {
    width: 100%;
    max-width: 2.25rem;
}