.tab-bar {
  display: flex;
  justify-content: space-between;
  width: 37.5rem;
  height: 4.9rem;
  background-color: rgba(249, 249, 249, 0.94);
  padding: 1.3rem 5rem;

  &_home {
    position: relative;
    height: 8.3rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0.8rem;
      left: 12rem;
      width: 13.4rem;
      height: 0.5rem;
      background-color: $black;
      border-radius: 10rem;
    }
  }

  &__setting {
    cursor: pointer;
    height: 2.25rem;
  }

  &__setting-icon {
    width: 100%;
    max-width: 2.25rem;
  }

  &__chat {
    position: relative;
    cursor: pointer;
    height: 2.25rem;
  }

  &__chat-count {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    font-size: $font-size_2;
    background-color: $red;
    border-radius: 50%;
    color: $white;
    padding: 0.2rem 0.6rem;
  }

  &__chat-img {
    width: 100%;
    max-width: 2.25rem;
  }

  &__person {
    cursor: pointer;
    height: 2.25rem;
  }

  &__person-img {
    width: 100%;
    max-width: 2.25rem;
  }
}
